.nav {
    margin:0;
    width: 100%;
}

.nav-head {
    margin: 0;
    padding:0;
    width: 100%;
    display:table;
    table-layout: fixed
}

.nav-button {
    margin: 0 auto;
    display: table-cell;
    text-align: center;
    background-color: rgb(137, 207, 235);
    padding-top: 12px
}

.nav-button.active {
    background-color: rgb(106, 170, 196)
}