body {
    margin: 0;
    font-family: Helvetica, serif
}

.header {
    margin: 0 auto;
    width: 100%;
    height: 20%;
    background-color: rgb(206, 192, 145);
}

.header.active {
    background-color: rgb(231, 222, 169)
}

.hidden {
    display: none
}

.logo {
    display: inline-block
}

.banner {
    display: inline-block
}